<!-- Navbar -->
<app-navbar [type]="true" [InverseStyle]="false"></app-navbar>
<button
  style="display: none"
  id="btn-covid"
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModalLong"
>
  BUYLOWCOST TEAM
</button>

<div
  id="home"
  class="bg-section"
  [style.backgroundImage]="'url(assets/images/trust-3031679_1280.jpg)'"
>
  <div class="container h-100">
    <div class="row h-100">
      <div id="col" class="col-md-12 my-auto">
        <div class="cont-home text-center">
          <h1>We work to keep</h1>
          <h2>Our customers tranquility and trust</h2>
          <div class="bb-red-light"></div>
          <button type="button" class="btn btn-red">Call us</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="insurance-about" class="title-section">
  <div class="container color-gray-light">
    <h1>
      Core Values
      <small
        ><span class="color-gray-light3">:</span>
        <span class="color-gray-light2"> </span>
        <span class="color-gray-light"></span
      ></small>
    </h1>
  </div>
</div>
<div id="about-us">
  <div class="container">
    <img src="assets/images/escalera-seguros.jpg" alt="Loading..." class="w-100" />
    <h2>Our Core Values</h2>
    <h6>Reliable Insurance Team / 1 Jaunary 2024</h6>
    <p>
      We are a team of people who risk, learn and grow together, in the name of
      our clients' peace of mind and trust. We come to work every day looking at
      everything through the lens of "how to provide better service...".
    </p>
    <p>
      We represent different companies for any need and different budgets we
      will always make our best to keep our customers satisfied
    </p>
    <ul>
      <li>INTEGRITY</li>
      <li>OBJECTIVES</li>
      <li>CUSTOMER SERVICE</li>
      <li>HONESTY</li>
      <li>EFFICIENCY</li>
    </ul>

    <h6 class="color-red-light">Mission/Vission</h6>
    <p>
      To Provide Peace of Mind for our Customers by offering quality insurance
      products
    </p>
    <!--<h6 class="color-red-light">Objectives.</h6>
    <ul>
      <li>To treat people with dignity and respect</li>
      <li>Deliver an exeptional customer experience.</li>
      <li>To be the most trusted and valued insurance provider company.</li>
      <li>Inspire, protect and restore dreams.</li>
      <li>
        Compensate policyholders following predetermined catastrophic events
      </li>
    </ul>-->
    <div class="share">
      Share
      <a href="https://www.facebook.com/ReliableInsServices/"
        ><button type="button" class="btn">
          <i class="fab fa-facebook-f"></i></button
      ></a>
      <!---<a href="https://twitter.com/buy_cost"
        ><button type="button" class="btn">
          <i class="fab fa-twitter"></i></button
      ></a>
      <a
        href="https://www.instagram.com/explore/tags/buylowcostinsurance/?hl=es-la"
        ><button type="button" class="btn">
          <i class="fab fa-instagram"></i></button
      ></a>-->
    </div>
  </div>
</div>

<div id="insurance-types" class="title-section">
  <div class="container color-gray-light">
    <h1>
      Types Of Insurance
      <small
        ><span class="color-gray-light3">:</span>
        <span class="color-gray-light2"> </span>
        <span class="color-gray-light"></span
      ></small>
    </h1>
  </div>
</div>

<div
  id="insurances"
  class="bg-section"
  [style.backgroundImage]="'url(assets/images/family-6398107_1280.jpg)'"
>
  <div class="items">
    <div class="row">
      <div class="col-md-12">
        <div class="row" style="margin-top: 20%; display: flex;
        align-items: center;
        justify-content: center;">
          <div class="col-md-2">

            <div class="card" >
              <img class="card-img-top" src="assets/images/bmw-1216469_640.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

          </div>

          <div class="col-md-2">

            <div class="card" >
              <img class="card-img-top" src="assets/images/doctorins.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

          </div>


          <div class="col-md-2">

            <div class="card" >
              <img class="card-img-top" src="assets/images/living-room-2569325_640.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

          </div>

          <div class="col-md-2">

            <div class="card" >
              <img class="card-img-top" src="assets/images/brothers-457234_640.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

          </div>


          <div class="col-md-2">

            <div class="card" >
              <img class="card-img-top" src="assets/images/highway-3392100_640.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!--<div class="col-sm-4 col-md-3">
        <div
          class="card text-center"
          style="width: 18rem"
          data-toggle="modal"
          data-target="#auto_insurance"
        >
          <div class="card-body">
            <div class="card-icon">
              <i class="fas fa-car"></i>
            </div>
            <h5 class="card-title">Auto Insurance</h5>
            <p class="card-text fix_text">See More</p>
            <div class="bb-red-light"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div
          class="card text-center"
          style="width: 18rem"
          data-toggle="modal"
          data-target="#motorcycle_insurance"
        >
          <div class="card-body">
            <div class="card-icon">
              <i class="fas fa-motorcycle"></i>
            </div>
            <h5 class="card-title">Motorcycle Insurance</h5>
            <p class="card-text fix_text">See More</p>
            <div class="bb-red-light"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div
          class="card text-center"
          style="width: 18rem"
          data-toggle="modal"
          data-target="#boat_insurance"
        >
          <div class="card-body">
            <div class="card-icon">
              <i class="fas fa-ship"></i>
            </div>
            <h5 class="card-title">Boat Insurance</h5>
            <p class="card-text fix_text">See More</p>
            <div class="bb-red-light"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div
          class="card text-center"
          style="width: 18rem"
          data-toggle="modal"
          data-target="#commercial_insurance"
        >
          <div class="card-body">
            <div class="card-icon">
              <i class="fas fa-store"></i>
            </div>
            <h5 class="card-title">Commercial Insurance</h5>
            <p class="card-text fix_text">See More</p>
            <div class="bb-red-light"></div>
          </div>
        </div>-->
    </div>
  </div>
</div>

<div class="title-section">
  <div class="container color-gray-light">
    <h1>
      Customer Service
      <small>
        <span class="color-gray-light3"></span>
        <span class="color-gray-light2"> </span>
        <span class="color-gray-light"></span>
      </small>
    </h1>
  </div>
</div>

<div id="helpful-links">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>Know our principles</h1>
        <div class="bb-gray-light3"></div>
        <p></p>
        <ul>
          <li>
            <small><i class="fas fa-check"></i></small> To treat people with
            dignity and respect
          </li>
          <li>
            <small><i class="fas fa-check"></i></small> Deliver an exeptional
            customer experience.
          </li>
          <li>
            <small><i class="fas fa-check"></i></small> To be the most trusted
            and valued insurance provider company.
          </li>
          <li>
            <small><i class="fas fa-check"></i></small> Inspire, protect and
            restore dreams.
          </li>
          <li>
            <small><i class="fas fa-check"></i></small> Compensate policyholders
            following predetermined catastrophic events
          </li>
        </ul>
      </div>
      <div class="col-md-8">
        <h1>Why Choose Us</h1>
        <div class="bb-gray-light3"></div>
        <p>
          Our team offers personalized attention, for any situation that
          presents us related to cars, commercial vehicles, owners / rental,
          business / commercial, owner, motorcycle, motorhome / RV, personal
          boats etc. We will show you the available coverages for your case and
          how to apply claims of being necessary to the various companies that
          we have, we are here to help you
        </p>
        <P>
          Finding the right company and service for your needs is our priority.
          Using specialized software tools We can provide the solution that best
          suits your needs, we can attend them in our offices personally or by
          telephone, call us at (520) 807-0619.
        </P>
        <P>
          Our team works face to face to understand 100% of your needs and thus
          provide the highest level of protection for you without affecting your
          budget. we offer excellent service and low rates even for the most
          difficult drivers.
        </P>
        <app-helpful-links></app-helpful-links>
      </div>
    </div>
  </div>
</div>

<div id="map-section">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16064.654442777364!2d-110.97546422773758!3d32.17248569158573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86d67a0a94736425%3A0x3904c21f2546dd10!2sBuy%20LowCost%20Insurance!5e0!3m2!1ses!2smx!4v1574758470656!5m2!1ses!2smx"
    frameborder="0"
    style="border: 0"
    allowfullscreen=""
  ></iframe>
</div>

<div id="contact" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <nav class="navbar text-center p-0">
          <h4>Menu</h4>
          <!-- Links -->
          <ul class="navbar-nav w-100 p-0">
            <li class="nav-item">
              <a class="nav-link" href="#home">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about-us">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#insurances">INSURANCE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#helpful-links">CUSTOMER SERVICE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">CONTACT US</a>
            </li>

            <!--  <li class="nav-item ">
                            <a class="nav-link" href="#/Partnerships">PARTNERS</a>
                        </li>-->
          </ul>
        </nav>
        <br />
        <br />
        <!--        <a
          href="https://www.expertise.com/az/tucson/life-insurance"
          style="display: inline-block; border: 0"
          ><img
            style="width: 200px; display: block"
            width="200"
            height="160"
            src="//res.cloudinary.com/expertise-com/image/upload/f_auto,fl_lossy,q_auto/w_auto/remote_media/awards/az_tucson_life-insurance_2020_inverse.svg"
            alt="Best Insurance Agencies in Tucson"
        /></a>-->
      </div>
      <div class="col-md-4 locations">
        <h4>Tucson Locations</h4>
        <h6>SOUTH SIDE ADDRESS</h6>
        <p>505 W AJO WAY TUCSON AZ 85713</p>
        <h6>PHONE</h6>
        <p>(520)-807-0619</p>
        <br />
        <!--        <h6>EAST SIDE ADDRESS</h6>
        <p>702 S CRAYCROFT RD TUCSON , AZ 85711 , SUITE A</p>
        <h6>PHONE</h6>
        <p>(520)-807-0619</p>-->

        <!--        <h4>Phoenix Locations</h4>
        <h6>ADDRESS</h6>
        <p>3140 W Indian School Rd Ste 100 Phoenix AZ 85017</p>
        <h6>PHONE</h6>
        <p>(602)-888-7846</p>-->
      </div>
      <div class="col-md-4">
        <h4>Requests</h4>
        <p class="text-left color-gray-light2">
          Do you need help or have a question? Do you want to share your opinion
          or some feedback with us? . Give us a call or send us a message, we're
          happy to help you in any way we can. Our Hours : Monday - Friday 7:00
          am - 9:00 pm Saturday 5:00 am - 9:00 pm.
        </p>
        <!-- Links -->
        <form id="form-contact">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="full_name"
                  placeholder="Full name"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="phone"
                  placeholder="Phone"
                />
              </div>
            </div>
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Email"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <textarea
                  class="form-control"
                  id="message"
                  rows="4"
                  placeholder="Message"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-right">
              <button type="submit" class="btn btn-shop-sm">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <app-footer></app-footer>
</div>

<!-- Slider -->
<!-- <app-slider [images]="imageSlider"></app-slider> -->
<!-- Modal -->
<!--<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-img-cov">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img width="200px" src="/assets/images/Recurso 3.png">
                    </div>
                    <div class="col-md-12 p-2 text-center">
                        <h5><b>Our commitment to you during COVID-19:</b></h5>
                    </div>

                    <div class="col-md-12 p-1 text-center color-1">
                        Monday, 11 May 2020
                    </div>

                    <div class="col-md-12 text-center color-1" style="font-family: 'roboto-bold';">
                        Dear members of the <span class="color-2">Buy Low Cost Family.</span>
                    </div>

                    <div class="col-md-12 p-2 text-center">
                        <h5 class="color-3"><b>Our offices are open!!!</b></h5>
                    </div>

                    <div class="col-md-12 text-center color-1 p-3" style="font-family: 'roboto-bold';">

                        We are now open for regular business hours, <span class="color-2"> Monday-Friday 9:00 a.m. -
                            9:00 p.m. and Saturday 9:00
                            a.m. - 5:00 p.m.  After hours 5:00 p.m. - 9:00 p.m. </span> We can be reached by phone <span
                            class="color-3"> (520)-807-0619 </span>,
                        you can also email your representative <span class="color-3">  contact@buylowins.com. .</span>



                    </div>
                    <div class="col-md-12 text-center color-1 p-3"
                        style="font-family: 'roboto-bold';     text-align: center !important;">


                        We have committed ourselves to ensuring your safety and are taking all required measures to
                        rigorously clean and disinfect so that our facilities are a safe space for you and our staff.
                    </div>

                    <div class="col-md-12 text-justify color-1 p-3"
                        style="font-family: 'roboto-bold';  text-align: center !important;">
                        Please feel safe to come in and handle all your insurance policy needs or buy a new one.

                        <br>
                        <br>
                        <div class="text-center">
                            <span class="color-1">Buy Low Cost Insurance</span><br>
                            <span class="color-1"> You will never drive alone</span>
                        </div>




                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>-->

<div
  class="modal fade"
  id="auto_insurance"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Auto Insurance</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Protects you against financial loss if you have an accident. You agree
          to pay the premium and the insurance company agrees to pay your losses
          as defined in your policy
        </p>
        <ul>
          <li>Property coverage pays for damage to or theft of your car.</li>
          <li>
            Liability coverage pays for your legal responsibility to others for
            bodily injury or property damage.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="motorcycle_insurance"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Motorcycle Insurance</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Motorcycle insurance provides financial protection in the event of a
          motorcycle accident, loss theft or damage.Motorcycle insurance
          includes liability coverage in case you are responsible for another
          person's injuries or property damage.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="boat_insurance"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Boat Insurance</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Even if you're not required to ave boat insurance, it's important to
          protect yur boat from any harm.You can get that dependable coverage
          from Us, at a surprisingly affordable price, along with the support of
          a knowledgeable agent who Always can help you. Experience the peace of
          mind that comes knowing your watercraft is covered.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="commercial_insurance"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Commercial Insurance</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Arizona is home to a wide variety of commercial enterprises. We are
          home to large tech companies and blossoming home-based businesses. We
          have agricultural based businesses and manufacturing facilities. No
          matter what type of business you own, Buylowcost are Tucson, AZ
          commercial insurance agents with the experience to serve you.Because
          every business is unique and faces unique risks, it is important your
          business coverage is carefully crafted to cover those risks. Our
          experienced, independent insurance agents will build a loss prevention
          program to fit your needs.Do you own the building where your business
          operates? We can get it covered. Do you use vehicles in the daily
          operation of your business? We can make sure you are properly covered.
          From natural calamities like lightning and wind to man-made calamities
          like theft and vandalism, Buylowcost has got you covered. Because we
          are independent agents, we are not limited to just offering the
          products of one insurance brand. Instead, we seek out multiple
          carriers who can offer you the coverage you need at an affordable
          price. Your coverage will be created to best protect you. Whether you
          have a small home-based business or operate a large manufacturing
          facility, let’s get the coverage that is right for you. Contact
          Buylowcost team and talk to one of our independent agents. We’ll
          discuss your business and assess your risks. We can then go to work in
          getting quotes to fit your business and provide peace of mind.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="roadside_insurance"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Roadside</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          We provide Innovative Roadside Assistance , To settle Claims Fairly
          and Quickly.
        </p>
        <ul>
          <li>Towing & Flat Tire Change.</li>
          <li>Fuel Delivery.</li>
          <li>Lockout Service.</li>
          <li>Battery Jumpstart.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="renter_insurance"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Renters Insurance</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Renters insurance applies to persons renting or subletting a single
          family home, apartment, duplex, condo, studio, loft or townhome. The
          policy protects against losses to the tenant's personal property
          within the rented property.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="home_insurance"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Home Insurance</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          The homeowners insurance provides financial protection against
          disasters. a standard policy insures the home itself and the things
          you keep in it.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
