<h1>Helpful Links</h1>
<div id="accordion" class="accordion">
  <div class="card">
    <div class="card-header collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
      aria-expanded="false" aria-controls="collapseOne">
      <span>FAQ – Frequently Asked Questions</span>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-toggle="modal" data-target="#how_can_pay">
          How can I pay for my insurance?
        </button>
        <button type="button" class="btn" data-toggle="modal" data-target="#wh_pay_after">
          What happens if I pay for my insurance policy after the due date?
        </button>
        <button type="button" class="btn" data-toggle="modal" data-target="#self_regulate">
          Do insurance companies self-regulate?
        </button>
        <button type="button" class="btn" data-toggle="modal" data-target="#wh_dg_insurance">
          What happens if I don't get insurance?
        </button>
        <button type="button" class="btn" data-toggle="modal" data-target="#cancelled_if_accident">
          Will my insurance get cancelled if I am in an accident?
        </button>
        <button type="button" class="btn" data-toggle="modal" data-target="#companies_offer_same">
          Do all companies offer the same coverage and discounts?
        </button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
      aria-expanded="false" aria-controls="collapseTwo">
      <span>Payment Options</span>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <li>Stop By One of Our Offices.</li>
          <li>Over the Phone:(520)8070619.</li>
          <li>ONLINE PAYMENTS</li>
          <li>Contact Us By Mail contact@buylowins.com.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header collapsed" id="headingThree" data-toggle="collapse" data-target="#collapsethree"
      aria-expanded="false" aria-controls="collapseTwo">
      <span>Companies</span>
    </div>
    <div id="collapsethree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body COMPANIES">
        <ul>
          <li><a href="https://www.hallmarkgrp.com/">HALLMARK </a></li>
          <li><a href="https://www.gainsco.com/">GAINSCO</a></li>
          <li><a href="https://www.infinityauto.com/es">INFINITY</a></li>
          <li><a href="https://www.progressive.com/home/home/">PROGRESSIVE</a></li>
          <li><a href="https://www.dairylandinsurance.com/?gclid=Cj0KCQiAw4jvBRCJARIsAHYewPOCfUrM265pHxGqIILEFJb_OOdvCPUEAgvulN1hGXOh6cWNjeyz3tsaAiyzEALw_wcB">DAIRYLAND</a></li>
          <li><a href="http://www.mylegacyinsurance.com/">LEGACY</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Modals -->
  <div class="modal fade" id="how_can_pay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">How can I pay for my insurance?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Paying for your insurance is easy and can be done the following ways:
            <br><br>
            Over the phone: All you have to do is call the phone number listed on your policy information and
            you’ll be able to make a payment. Payments can be made using a credit card, a debit card, a pre-paid
            card and even by wiring funds through Western Union.
            <br><br>
            Over the Internet: Most major insurance companies offer a way to make a payment over the Internet.
            Just access your insurance carrier’s website, which is listed on your policy, and pay your insurance
            carrier directly.
            <br><br>
            By Mail: Send your check or money order to the address listed on your policy.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="wh_pay_after" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">What happens if I pay for my insurance policy after the due
            date? </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Each insurance company has their own policy when it comes to overdue or late payments. Some will charge you
            a late fee and others may go ahead and cancel your policy immediately if a payment is not made by the due
            date. Others may give you a short grace period such as a week or a month, before they cancel your policy.
            <br><br>
            If you cannot make a payment on time, please contact us before the due date in order for us to try to get
            you an extension on your payments.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="self_regulate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Do insurance companies self-regulate?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Yes, insurance is subject to State regulation. This means they monitor companies for fair pricing of
            insurance, protecting insurance company solvency, preventing unfair practices by insurance companies, and
            ensuring availability of insurance coverage. All states have the power to approve insurance rates; to
            periodically conduct financial examinations of insurers; to license companies, agents, and brokers; and to
            monitor and regulate claims handling. This also means insurance companies are required to respect the fees
            they charge their customers.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="wh_dg_insurance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">What happens if I don't get insurance?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Law-enforcement officers will ask you for proof of insurance at the time of traffic stops or accidents.
            Insurance companies notify MVD of all policy cancellations, nonrenewals and new policies. If your insurance
            company sends MVD a notice that your policy is no longer active, We will send you an inquiry notice to
            verify insurance status.
            <br><br>
            Failure to maintain proper insurance could lead to the suspension of your vehicle registration and/or driver
            license. To reinstate these privileges, fees and future proof of financial responsibility must be filed with
            MVD. The future proof requirement is most commonly an SR22 form from an insurance company. This can be
            expensive to the vehicle owner, especially since the law requires the owner to carry the SR22 for three
            years from the date of suspension.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="cancelled_if_accident" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Will my insurance get cancelled if I am in an accident?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Generally, your insurance carrier will not cancel your policy because you were in an accident. When you file
            a claim, the carrier will carefully review your policy and your driving history to make sure your policy is
            still appropriate. If it will be affected, you will receive a notice detailing the changes, approximately 30
            days before the new policy takes effect.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="companies_offer_same" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Do all companies offer the same coverage and discounts?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            No, not all companies are able to offer the same coverage and discounts. At Freeway Insurance we carefully
            research and partner with carriers that can provide our customers with the best coverage options and rates
            available. Because of our relationships, We are often able to offer lower premiums and better discounts that
            may not be available through other companies or by purchasing directly from the carrier. And, because our
            agents are professionally licensed and trained, they know what information to include in policies so
            customers have the exact coverage they need, and don’t overspend getting something they could really do
            without.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>