@import "../../variables.scss";
.COMPANIES {
  ul {
    li {
      a {
        color: #bc2132;
      }
    }
  }
}
.accordion {
  border: none;
  .card {
    border: none;
    cursor: pointer;
    .card-header {
      background-color: $gray-light4;
      color: $gray-light;
      border-radius: 5px;
      border: none;
      margin-bottom: 0.5rem;
    }
    .card-header.collapsed {
      background-color: #fafafa;
      color: $gray-light3;
    }
    .card-header > span {
      display: block;
      position: relative;
    }
    .card-header > span:after {
      content: "\f078"; /* fa-chevron-down */
      font-family: "FontAwesome";
      position: absolute;
      right: 0;
    }
    .card-header[aria-expanded="true"] > span:after {
      content: "\f077"; /* fa-chevron-up */
    }
    .card-body {
      .btn {
        color: $red-light;
        width: 100%;
        text-align: left;
        font-family: "raleway-semibold";
      }
      .btn:before {
        content: "\2022";
      }
    }
  }
}
.modal {
  font-family: "roboto-regular";
  .modal-title {
    color: $red-light;
  }
  p {
    font-family: "raleway-semibold";
    color: $gray-light3;
    font-weight: lighter;
  }
}
