<!-- Navbar -->
<app-navbar [type]="false"></app-navbar>
<div id="home" class="bg-section" [style.backgroundImage]="'url(assets/images/bg-section-6.png)'">
  <div class="container h-100">
    <div class="row h-100">
      <div id="col" class="col-md-12 my-auto">
        <div class="cont-home text-center">
          <h1>Truking Insurance</h1>
          <h2>Tucson Arizona</h2>
          <div class="bb-red-light"></div>

        </div>
      </div>
    </div>
  </div>
</div>


<div id="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <div class="col-md-12 text-left">
          <h4>Start Your Trucking Quote in Seconds.</h4>
        </div>
        <div class="col-md-12">
          <p>We want to help you learn to how to put money back in your pocket! To learn more please fill in the info
            below and we will reach out to you with a personalized and competitive insurance plan. Thank you!</p>
        </div>

        <form id="form-contact" [formGroup]="QuoteForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <label>Business Name</label>
                <input type="text" class="form-control" formControlName="Business_name" placeholder="Business Name">
                <p class="error-required" *ngIf="submitted && f.Business_name.errors">Business Name is required</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <label>Business Owner Name</label>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="Name" placeholder="Name">
                <p class="error-required" *ngIf="submitted && f.Name.errors">Name is required</p>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <input type="email" class="form-control" formControlName="Last_name" placeholder="Last Name">
                <p class="error-required" *ngIf="submitted && f.Last_name.errors">Last Name is required</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <label>Your Phone</label>
                <input type="text" class="form-control" formControlName="phone" placeholder="Phone">
                <p class="error-required" *ngIf="submitted && f.phone.errors">Phone is required</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <label>Your Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                <p class="error-required" *ngIf="submitted && f.email.errors">Email is required</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <label>USDOT Number</label>
                <input type="text" class="form-control" formControlName="usdot" placeholder="USDOT Number">
                <p class="error-required" *ngIf="submitted && f.usdot.errors">USDOT Number is required</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button type="submit" class="btn btn-success">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="contact" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <nav class="navbar text-center p-0">
          <h4>Menu</h4>
          <!-- Links -->
          <ul class="navbar-nav w-100 p-0">
            <li class="nav-item">
              <a class="nav-link" href="#home">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about-us">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#insurances">INSURANCE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#helpful-links">CUSTOMER SERVICE</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#contact">CONTACT US</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-4 locations">
        <h4>Locations</h4>
        <h6>SOUTH SIDE ADDRESS</h6>
        <p>505 W AJO WAY TUCSON AZ 85713</p>
        <h6>PHONE</h6>
        <p>(520)-807-0619</p>
        <br>
        <h6>EAST SIDE ADDRESS </h6>
        <p>702 S CRAYCROFT RD TUCSON , AZ
          85711 , SUITE A</p>
        <h6>PHONE</h6>
        <p>(520)-807-0619</p>

        <h6>NORTH SIDE ADDRESS </h6>
        <p>1380 W PRINCE RD TUCSON , AZ
          85705 </p>
        <h6>PHONE</h6>
        <p>(520)-807-0619</p>
        <p>COMING SOON</p>
      </div>
      <div class="col-md-4">
        <h4>Requests</h4>
        <p class="text-left color-gray-light2">
          Need Help, have a Question, or want to share your opinion or some
          feedback with Us?. Give us a call or send us a messsage. We're Happy to
          Help in any way we can. Our Hours : Monday - Friday 9:00 am - 7:00 pm
          Saturday 9:00 am - 5:00 pm.
        </p>
        <!-- Links -->
        <form id="form-contact">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" id="full_name" placeholder="Full name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" id="phone" placeholder="Phone">
              </div>
            </div>
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <textarea class="form-control" id="message" rows="4" placeholder="Message"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-right">
              <button type="submit" class="btn btn-shop-sm">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <app-footer></app-footer>
</div>