<!-- Navbar -->
<app-navbar [type]="true"></app-navbar>

<!--<div id="home" class="bg-section" [style.backgroundImage]="'url(assets/images/bg-section-1.png)'">
  <div class="container h-100">
    <div class="row h-100">
      <div id="col" class="col-md-12 my-auto">
        <div class="cont-home text-center">
          <h1>You Will Never</h1>
          <h2>Drive Alone</h2>
          <div class="bb-red-light"></div>
          <a type="button" class="btn btn-red"
            href="https://14ad63ed-b377-4285-b805-d5714fcc1947.quotes.iwantinsurance.com/welcome.aspx">Request
            a free quote</a>
        </div>
      </div>
    </div>
  </div>
</div>-->


<div id="about-us" style="background-color: black;">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">

    <div class="row">
      <div class="col-md-4 ">
        <div class="row card2">
          <div class="col-md-12 text-center head_card2">
            <p style="color: black;">Senior Customer Service
              Associate</p>
          </div>

          <div class="content">

            <div class="col-md-12 text-center">
              <p style="color: #c01f21; font-weight: bold;">AVAILABLE</p>
              <p>Full Time</p>
              <p>+Bonus</p>
              <p> PTO</p>
            </div>
            <div class="col-md-12 text-center p-3">
              <p style="color: black; font-size: .9rem; font-weight: bold;">
                We are seeking a reliable, organized, and
                enthusiastic customer service representative to
                be part of our team.
              </p>

            </div>

            <div class="col-md-12 text-center p-3">
              <p style="color: #c01f21; font-weight: bold;" class="text-center;">What You’ll Do</p>
              <ul class="list2">
                <li>
                  <p>
                    Verify coverage, evaluate insurance needs,
                    cross sell, and process customer policy
                    changes
                  </p>
                </li>
                <li>
                  <p>
                    Communicate policy transactions and billing
                    impact
                  </p>
                </li>
                <li>
                  <p>
                    Process payments
                  </p>
                </li>
                <li>
                  <p>
                    Document communications and transactions
                  </p>
                </li>
                <li>
                  <p>
                    Build rapport with each customer as you
                    respond to their inquiries
                  </p>
                </li>
                <li>
                  <p>
                    Accurately explain insurance coverage and
                    benefits
                  </p>
                </li>
                <li>
                  <p>
                    Attract new clients with professionalism,
                    knowledge, and a friendly personality
                  </p>
                </li>
                <li>
                  <p>
                    Share ideas for efficient processes and growth
                  </p>
                </li>
              </ul>
              <p style="color: #c01f21; font-weight: bold;" class="text-center;">What You’ll Receive</p>
              <ul class="list2">
                <li>
                  <p>
                    Competitive Compensation
                  </p>
                </li>
                <li>
                  <p>
                    Monthly and Annual Bonus
                  </p>
                </li>
                <li>
                  <p>
                    Paid-Time Off (vacation, holiday, sick days)
                  </p>
                </li>

                <li>
                  <p>
                    Training Resources
                  </p>
                </li>

                <li>
                  <p>
                    Advancement Opportunities
                  </p>
                </li>
                <li>
                  <p>
                    Fun Team Building Activities
                  </p>
                </li>
              </ul>
              <p style="color: #c01f21; font-weight: bold;" class="text-center;">What it Takes</p>
              <ul class="list2">
                <li>
                  <p>
                    Insurance related product knowledge
                  </p>
                </li>
                <li>

                </li>
                <li>
                  <p>
                    Independent agency experience
                  </p>
                </li>

                <li>
                  <p>
                    High level of accuracy with all correspondence
                  </p>
                </li>
                <li>
                  <p>
                    Good working knowledge of PC based
                    computers, Microsoft Office, rating systems,
                    and agency management systems
                  </p>
                </li>
                <li>
                  <p>
                    Ability to multi-task, prioritize, and remain
                    organized
                  </p>
                </li>
                <li>
                  <p>
                    Manage and utilize time effectively
                  </p>
                </li>
                <li>
                  <p>
                    Clear, professional, and effective
                    communication
                  </p>
                </li>
                <li>
                  <p>
                    Professional work attire
                  </p>
                </li>
              </ul>
            </div>
          </div>




          <div class="col-md-12 text-center p-5">
            <p>
              9:00am - 7:00pm M - F
            </p>
            <p>
              9:00am - 5:00pm Saturday
            </p>
            <p>
              505 W AJO WAY TUCSON AZ 85713
            </p>

            <button class="btn btn-danger" data-toggle="modal" data-target="#apply_form" ng>Apply Now</button>
          </div>

        </div>
      </div>

      <div class="col-md-4 ">
        <div class="row card2">
          <div class="col-md-12 text-center head_card2">
            <p style="color: black;">Marketing Assistant</p>
          </div>

          <div class="content">
            <div class="col-md-12 text-center">

              <p style="color: #c01f21; font-weight: bold;">AVAILABLE</p>
              <p>Full Time</p>
              <p>+Bonus</p>
              <p> PTO</p>

            </div>
            <div class="col-md-12 text-center p-3">
              <p style="color: black; font-size: .9rem; font-weight: bold;">
                We are seeking an individual who is ambitious and professional, as well, with a friendly personality and
                responsible for promoting products and services offered by the company.

              </p>

            </div>

            <div class="col-md-12 text-center p-3">
              <p style="color: #c01f21; font-weight: bold;" class="text-center;">What You’ll Do</p>
              <ul class="list2">
                <li>
                  <p>
                    Create relationship between the company and its current and prospective clients.
                  </p>
                </li>
                <li>
                  <p>
                    Attract new clients with professionalism, knowledge, and a friendly personality.
                  </p>
                </li>
                <li>
                  <p>
                    Build rapport with each customer.
                  </p>
                </li>
                <li>
                  <p>
                    Functions like advertising, sales, promotion, public relations.

                  </p>
                </li>

              </ul>

              <p style="color: #c01f21; font-weight: bold;" class="text-center;">What You’ll Receive</p>
              <ul class="list2">

                <li>
                  <p>
                    Competitive Compensation
                  </p>
                </li>
                <li>
                  <p>
                    Monthly and Annual Bonus
                  </p>
                </li>

                <li>
                  <p>
                    Paid-Time Off (vacation, holiday, sick days)
                  </p>
                </li>

                <li>
                  <p>
                    Training Resources
                  </p>
                </li>
                <li>
                  <p>
                    Advancement Opportunities
                  </p>
                </li>

                <li>
                  <p>
                    Fun Team Building Activities
                  </p>
                </li>
              </ul>


              <p style="color: #c01f21; font-weight: bold;" class="text-center;">What it Takes</p>
              <ul class="list2">
                <li>
                  <p>
                    Insurance related product knowledge
                  </p>
                </li>
                <li>
                </li>
                <li>
                  <p>
                    Independent agency experience
                  </p>
                </li>

                <li>
                  <p>
                    High level of accuracy with all correspondence
                  </p>
                </li>
                <li>
                  <p>
                    Good working knowledge of PC based
                    computers, Microsoft Office, rating systems,
                    and agency management systems
                  </p>
                </li>
                <li>
                  <p>
                    Ability to multi-task, prioritize, and remain
                    organized
                  </p>
                </li>
                <li>
                  <p>
                    Manage and utilize time effectively
                  </p>
                </li>
                <li>
                  <p>
                    Clear, professional, and effective
                    communication
                  </p>
                </li>
                <li>
                  <p>
                    Professional work attire
                  </p>
                </li>
              </ul>
            </div>
          </div>


          <div class="col-md-12 text-center p-5">
            <p>
              9:00am - 7:00pm M - F
            </p>

            <p>
              9:00am - 5:00pm Saturday
            </p>
            <p>
              505 W AJO WAY TUCSON AZ 85713
            </p>

            <button class="btn btn-danger" data-toggle="modal" data-target="#apply_form">Apply Now</button>
          </div>

        </div>
      </div>


      <div class="col-md-4 ">
        <div class="row card2">
          <div class="col-md-12 text-center head_card2">
            <p style="color: black;">Administrative Assistant</p>
          </div>

          <div class="content">
            <div class="col-md-12 text-center">

              <p style="color: #c01f21; font-weight: bold;">AVAILABLE</p>
              <p>Full Time</p>
              <p>+Bonus</p>
              <p> PTO</p>


            </div>
            <div class="col-md-12 text-center p-3">
              <p style="color: black; font-size: .9rem; font-weight: bold;">
                We are seeking a reliable and enthusiastic
                front office receptionist to be part of our team.
              </p>
            </div>

            <div class="col-md-12 text-center p-3">
              <p style="color: #c01f21; font-weight: bold;" class="text-center;">What You’ll Do</p>
              <ul class="list2">
                <li>
                  <p>
                    Greet visitors
                    Answer, direct and transfer telephone calls
                    Schedule appointments
                  </p>
                </li>
                <li>
                  <p>
                    Process payments Document correspondence and transactions
                  </p>
                </li>
                <li>
                  <p>
                    Process incoming and outgoing mail
                  </p>
                </li>
                <li>
                  <p>
                    Open and close office as scheduled
                    Respond to customer inquiries and concerns
                  </p>
                </li>
                <li>
                  <p>
                    Build rapport with each customer
                  </p>
                </li>
                <li>
                  <p>
                    Assist marketing team
                    Clean & organize as needed
                  </p>
                </li>
              </ul>



              <p style="color: #c01f21; font-weight: bold;" class="text-center;">What You’ll Receive</p>
              <ul class="list2">
                <li>
                  <p>
                    Competitive Compensation
                  </p>
                </li>
                <li>
                  <p>
                    Monthly and Annual Bonus
                  </p>
                </li>
                <li>
                  <p>
                    Paid-Time Off (vacation, holiday, sick days)
                  </p>
                </li>

                <li>
                  <p>
                    Training Resources
                  </p>
                </li>

                <li>
                  <p>
                    Advancement Opportunities
                  </p>
                </li>
                <li>
                  <p>
                    Fun Team Building Activities
                  </p>
                </li>
              </ul>

              <p style="color: #c01f21; font-weight: bold;" class="text-center;">What it Takes</p>
              <ul class="list2">
                <li>
                  <p>
                    Insurance related product knowledge
                  </p>
                </li>
                <li>
                </li>
                <li>
                  <p>
                    Independent agency experience
                  </p>
                </li>

                <li>
                  <p>
                    High level of accuracy with all correspondence
                  </p>
                </li>
                <li>
                  <p>
                    Good working knowledge of PC based
                    computers, Microsoft Office, rating systems,
                    and agency management systems
                  </p>
                </li>
                <li>
                  <p>
                    Ability to multi-task, prioritize, and remain
                    organized
                  </p>
                </li>
                <li>
                  <p>
                    Manage and utilize time effectively
                  </p>
                </li>
                <li>
                  <p>
                    Clear, professional, and effective
                    communication
                  </p>
                </li>
                <li>
                  <p>
                    Professional work attire
                  </p>
                </li>
              </ul>

            </div>
          </div>




          <div class="col-md-12 text-center p-5">

            <p>
              9:00am - 7:00pm M - F
            </p>

            <p>
              9:00am - 5:00pm Saturday
            </p>
            <p>
              505 W AJO WAY TUCSON AZ 85713
            </p>
            <button class="btn btn-danger" data-toggle="modal" data-target="#apply_form">Apply Now</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>






<div id="map-section">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16064.654442777364!2d-110.97546422773758!3d32.17248569158573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86d67a0a94736425%3A0x3904c21f2546dd10!2sBuy%20LowCost%20Insurance!5e0!3m2!1ses!2smx!4v1574758470656!5m2!1ses!2smx"
    frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>


<div id="contact" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <nav class="navbar text-center p-0">
          <h4>Menu</h4>
          <!-- Links -->
          <ul class="navbar-nav w-100 p-0">
            <li class="nav-item">
              <a class="nav-link" href="#home">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about-us">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#insurances">INSURANCE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#helpful-links">CUSTOMER SERVICE</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#contact">CONTACT US</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-4 locations">
        <h4>Locations</h4>
        <h6>SOUTH SIDE ADDRESS</h6>
        <p>505 W AJO WAY TUCSON AZ 85713</p>
        <h6>PHONE</h6>
        <p>(520)-807-0619</p>
        <br>
        <h6>EAST SIDE ADDRESS </h6>
        <p>702 S CRAYCROFT RD TUCSON , AZ
          85711 , SUITE A</p>
        <h6>PHONE</h6>
        <p>(520)-807-0619</p>

        <h6>NORTH SIDE ADDRESS </h6>
        <p>1380 W PRINCE RD TUCSON , AZ
          85705 </p>
        <h6>PHONE</h6>
        <p>(520)-807-0619</p>
        <p>COMING SOON</p>
      </div>
      <div class="col-md-4">
        <h4>Requests</h4>
        <p class="text-left color-gray-light2">
          Need Help, have a Question, or want to share your opinion or some
          feedback with Us?. Give us a call or send us a messsage. We're Happy to
          Help in any way we can. Our Hours : Monday - Friday 9:00 am - 7:00 pm
          Saturday 9:00 am - 5:00 pm.
        </p>
        <!-- Links -->
        <form id="form-contact">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" id="full_name" placeholder="Full name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" id="phone" placeholder="Phone">
              </div>
            </div>
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <textarea class="form-control" id="message" rows="4" placeholder="Message"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-right">
              <button type="submit" class="btn btn-shop-sm">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <app-footer></app-footer>
</div>



<!-- Slider -->
<!-- <app-slider [images]="imageSlider"></app-slider> -->

<div class="modal fade" id="apply_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background-color: black !important;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Apply Now</h5>

        <button class="btn btn-success" type="button" style="right: 63px; position:absolute;" (click)="openFile()">
          Upload Resume (PDF)
        </button>
        <input  (change)="fileChangeEvent($event)" type="file" id="avatar" name="avatar" style="display: none;">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-contact2" [formGroup]="register" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" formControlName="name">
                <p class="error_sub" *ngIf="submitted && f.name.errors">Required</p>
              </div>
            </div>

            <div class="col-xs-12 col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" id="full_name" placeholder="Middle Name"
                  formControlName="middle_name">
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" id="full_name" placeholder="Last Name"
                  formControlName="last_name">
                <p class="error_sub" *ngIf="submitted && f.last_name.errors">Required</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone" formControlName="phone_emp">
                <p class="error_sub" *ngIf="submitted && f.phone_emp.errors">Required</p>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" formControlName="email">

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" id="street" placeholder="Address" formControlName="address_emp">
                <p class="error_sub" *ngIf="submitted && f.address_emp.errors">Required</p>
              </div>
            </div>
          
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" id="city" placeholder="City" formControlName="city_emp">
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" id="State" placeholder="State" formControlName="state_emp">
              </div>
            </div>

            <div class="col-xs-12 col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" id="zipcode" placeholder="Zipcode"
                  formControlName="zipcode_emp">
              </div>
            </div>
          </div>

         
        
        

          <div class="row">
            <div class="col text-right">
              <button type="submit" class="btn btn-shop-sm">Send</button>
            </div>
          </div>



        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>